.add-printer-form {
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 5%;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr 9fr; /* adjust the ratio as needed */
  align-items: center;
  width: 100%; /* full width */
  max-width: 1000px; /* or any max-width as desired */
}

.form-header h1 {
  grid-column: 1 / -1; /* makes the header span all columns */
  text-align: center;
  font-size: 32px; /* larger font size for the form title */
}

input[type="text"],
.form-button {
  /* wider column */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px; /* larger font size for input */
}

.form-actions {
  grid-column: 1 / -1; /* makes the button container span all columns */
  display: flex;
  justify-content: center; /* center buttons horizontally */
  gap: 20px; /* space between buttons */
}

.form-button {
  padding: 15px 30px; /* larger padding for bigger buttons */
  font-size: 26px; /* larger font size for button text */
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  width: 7em;
}

.add-button {
  background-color: #007bff;
  color: white;
}

.cancel-button {
  background-color: #aab3c1;
  color: white;
}

.form-button:hover {
  opacity: 0.8;
}

.form-button:active {
  transform: translateY(2px);
}
.form-label {
  font-size: 18px;
  font-weight: bold;
}
