body {
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}
.printsetting {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.printsetting-title {
  display: flex;
  align-items: center;
  text-align: center;
}

.printsetting {
  background-color: #f4f7fa;
  padding: 20px;
}

.printsetting-title h1 {
  color: #333;
}

.printsetting-table {
  width: 70%; /* Set table width to 3/4 of the parent's width */
  margin-bottom: 1em; /* Space below the table */
  border-collapse: collapse;
  font-size: larger; /* Increase font size */
}
.checkbox {
  margin-left: 10px;
  width: 40px;
}
.printsetting-table th,
.printsetting-table td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.printsetting-table th {
  background-color: #007bff;
  color: white;
}

.printsetting-table tr:nth-child(even) {
  background-color: #e1e1e1;
}

.printsetting-table tr:hover {
  background-color: #ddd;
}

.printsetting-actions {
  margin-top: 20px;
}

.printsetting-content {
  flex-grow: 1; /* Grow to take up remaining space */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.printsetting-actions {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  padding-top: 20px; /* Space above the buttons */
}

.printsetting-actions button {
  margin: 0 10px; /* Space between buttons */
  /* ... other button styles ... */
}
.printsetting-table tr:nth-child(even) {
  color: #007bff; /* Set text color of every other row to blue */
}
.button:active {
  transform: translateY(2px);
}
.add-printer-link {
  color: #007bff; /* This is typically the color for links */
  cursor: pointer;
  text-decoration: underline;
  padding-left: 15px; /* Align with the printer list */
  margin-bottom: 10px; /* Space before the list starts */
  display: flex; /* Ensures it's on a new line */
  font-size: 26px; /* Adjust as necessary */
  background: none;
  border: none;
  padding: 0;
  align-self: flex-end; /* This will align the link to the right */
  margin-right: 15%;
}

.form-button {
  padding: 15px 30px; /* larger padding for bigger buttons */
  font-size: 26px; /* larger font size for button text */
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.add-button {
  background-color: #007bff;
  color: white;
}

.cancel-button {
  background-color: #aab3c1;
  color: white;
}

.success-popup {
  position: fixed;
  margin-top: 23%;
  padding: 30px;
  background-color: #007bff;
  border-radius: 21px;
  border: 4px solid black; /* Added a black border */
  font-size: 24px;
  color: white;
}
